@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Pixelify+Sans:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  

body{
    font-family: "Pixelify Sans", sans-serif;
    font-size: 2rem;
    line-height: 2rem;
}

.lightMode-frstSect{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(assets/Backgrounds/BGgad-LM.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
}

#calculator{
    background-color: #c4c4c4a5;
    padding: 60px;
    max-width: 600px;
    border-radius: 50px;
    filter: blur(1.5);
    box-shadow: -6px -6px 20px 3px #00000023;
    z-index: 4;
    transition: transform 0.2s ease-in-out, box-shadow 0.1s ease-in-out;
    border-bottom: solid 25px #00000023;
}

#calculator:hover{
    transform: scale(1.02);
    box-shadow: -6px -6px 30px 6px #0000002b;
}

#display{
    background-color: #EFF5FF;
    color: #1E1E1E;
    font-family: "DotGothic16", sans-serif;
    border: none;
    border-bottom: solid 8px #8F939B ;
    border-radius: 30px;
    text-align: right;
    font-size: 4rem;
    outline: none;
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    margin-bottom: 8px;
    padding-right: 2.7rem;
    padding-left: 2.7rem;
}

#buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
}

#buttons button{
    background-color: #EFF5FF;
    color: #1E1E1E;
    font-size: 36px;
    text-align: center;
    width: 7rem;
    height: 7rem;
    border-radius: 30px;
    border: none;
    font-family: "DotGothic16", sans-serif;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    z-index: 6;
    box-shadow: 0 -5px 20px #1f1f1f37;
}

#buttons button:hover{
    filter: brightness(107%);
}

#buttons button:active{
    transform: translateY(4px);
    box-shadow: 0 5px 10px #1f1f1f37;
    z-index: 5;
}

.lightMode-frstSect h1{
    position: absolute;
    top: 0;
    left: 0;
    margin: 4rem 3rem;
}
.lightMode-frstSect h4{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 4rem 3rem;
    text-align: right;
}