@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Pixelify+Sans:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  

body{
    font-family: "Pixelify Sans", sans-serif;
    font-size: clamp(1.2rem, 3vw, 2rem);
    line-height: clamp(1.2rem, 3vw, 2rem);
}

.lightMode-frstSect{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-image: url(assets/Backgrounds/BGgad-LM.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    background-color: #EFF5FF;
    color: #1E1E1E;
    padding: 1rem;
    box-sizing: border-box;
    overflow-x: hidden;
}

#calculator{
    background-color: #c4c4c4a5;
    padding: clamp(20px, 5vw, 60px);
    width: clamp(280px, 90vw, 600px);
    min-width: 400px;
    max-width: 100%;
    border-radius: clamp(40px, 5vw, 50px);
    box-shadow: -6px -6px 20px 3px #00000023;
    z-index: 4;
    transition: transform 0.2s ease-in-out, box-shadow 0.1s ease-in-out;
    border-bottom: solid clamp(10px, 2vw, 25px) #00000023;
    box-sizing: border-box;
}

#calculator:hover{
    transform: scale(1.02);
    box-shadow: -6px -6px 30px 6px #0000002b;
}

#display{
    background-color: #EFF5FF;
    color: #1E1E1E;
    font-family: "DotGothic16", sans-serif;
    font-size: clamp(3rem, 5vw, 4rem);
    text-align: right;
    border: none;
    border-bottom: solid clamp(4px, 1vw, 8px) #8F939B;
    border-radius: clamp(35px, 3vw, 30px);
    outline: none;
    width: 100%;
    height: clamp(80px, 15vh, 150px);
    box-sizing: border-box;
    margin-bottom: 8px;
    padding-right: clamp(1rem, 2vw, 2.7rem);
    padding-left: clamp(1rem, 2vw, 2.7rem);
}

#buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: clamp(5px, 1vw, 8px);
}

#buttons button{
    font-size: clamp(1.5rem, 3vw, 36px);
    text-align: center;
    width: clamp(75px, 15vw, 100%);
    height: clamp(80px, 15vw, 5.95vw);
    border-radius: clamp(25px, 3vw, 30px);
    border: none;
    font-family: "DotGothic16", sans-serif;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    z-index: 6;
    box-shadow: 0 -5px 20px #1f1f1f37;
}

#buttons button:hover{
    filter: brightness(107%);
}

#buttons button:active{
    transform: translateY(4px);
    box-shadow: 0 5px 10px #1f1f1f37;
    z-index: 5;
}

.lightMode-frstSect h1{
    position: absolute;
    top: 0;
    left: 0;
    font-size: clamp(0.5rem, 4vw, 2rem);
    line-height: clamp(1rem, 2vw, 2rem);
    margin: clamp(1rem, 3vw, 4rem) clamp(1rem, 3vw, 3rem);
}

.lightMode-frstSect h4{
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: clamp(0.5rem, 4vw, 2rem);
    line-height: clamp(1rem, 2vw, 2rem);
    margin: clamp(1rem, 3vw, 4rem) clamp(1rem, 3vw, 3rem);    
    text-align: right;
}

/* toggle button */
.button-container{
    position: absolute;
    display: flex;
    background-color: #292828b4;
    bottom: 0;
    left: 0;
    width: clamp(80px, 20vw, 120px);
    height: clamp(40px, 10vw, 60px);
    margin: clamp(1rem, 3vw, 4rem) clamp(1rem, 3vw, 3rem);
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.tgglBttn-npt{
    display: none;
}

.tgglBttn-lbl{
    position: relative;
    background-color: #1E1E1E;
    width: clamp(70px, 18vw, 105px);
    height: clamp(30px, 8vw, 45px);
    border-radius: 50px;
    cursor: pointer;
    transition: 0.2s;
}

.tgglBttn-lbl::before{
    position: absolute;
    content: "";
    background-color: #EFF5FF;
    width: clamp(15px, 4vw, 25px);
    height: clamp(15px, 4vw, 25px);
    border-radius: 200px;
    margin: clamp(5px, 1.5vw, 10px);
    transition: 0.2s;
}

.tgglBttn-npt:checked + .tgglBttn-lbl{
    background-color: #EFF5FF;
}

.tgglBttn-npt:checked + .tgglBttn-lbl::before{
    background-color: #1E1E1E;
    transform: translateX(clamp(30px, 10vw, 60px));
}

/* dark mode style */
.darkMode-frstSect{
    background-image: url(assets/Backgrounds/BGgad-DM.png);
    background-color: #1E1E1E;
    color: #EFF5FF;
}

.darkMode-frstSect #calculator{
    background-color: #292828b4;
}

.darkMode-frstSect #display{
    background-color: #1E1E1E;
    color: #EFF5FF;
    border-bottom: solid 8px #000000;
}

@media screen and (max-width: 768px) {
    #calculator {
        padding: 50px;
        width: 80vw;
    }
}

@media screen and (max-width: 480px) {
    #calculator {
        padding: 55px;
        border-radius: 30px;
    }
    
    #display {
        height: 90px;
        font-size: 2.5rem;
        border-radius: 20px;
    }
    
    #buttons button {
        width: 70px;
        height: 70px;
        border-radius: 15px;
        font-size: 1.5rem;
    }
    
    .lightMode-frstSect h1 {
        font-size: 1.2rem;
        line-height: 1.2rem;
        margin: 1rem;
    }
    
    .lightMode-frstSect h4 {
        font-size: 1rem;
        line-height: 1rem;
        margin: 1rem;
    }
    
    .button-container {
        width: 80px;
        height: 40px;
        margin: 1rem;
    }
    
    .tgglBttn-lbl {
        width: 70px;
        height: 30px;
    }
    
    .tgglBttn-lbl::before {
        width: 15px;
        height: 15px;
        margin: 7.5px;
    }
    
    .tgglBttn-npt:checked + .tgglBttn-lbl::before {
        transform: translateX(40px);
    }
}

@media screen and (max-width: 320px) {
    #calculator {
        padding: 15px;
    }
    
    #display {
        height: 60px;
        font-size: 2rem;
    }
    
    #buttons button {
        height: 45px;
        font-size: 1.2rem;
    }
    
    .lightMode-frstSect h1, .lightMode-frstSect h4 {
        font-size: 0.9rem;
    }
}